/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/02/2021, 2:57:03 p. m.
    Author     : avbravo
*/
/*:-ms-input-placeholder {  Internet Explorer 10-11 
   color:    #909;
}
::-ms-input-placeholder {  Microsoft Edge 
   color:    #909;
}*/


/** chorme and safari **/
/*::-webkit-input-placeholder{
    color: white !important;
    font-weight: normal !important;
}*/

/** firefox **/
/*:-moz-placeholder{
    color: white!important;
    font-weight: normal !important;
}*/



  

    
/*
Edge
*/
 .placeholder-red::-ms-input-placeholder{
          color: red !important;
       }
.placeholder-white::-ms-input-placeholder{
          color: white !important;
       }
.placeholder-black::-ms-input-placeholder{
          color: black !important;
       }
       
       
/*
colores de placeholder
*/
/*
Detectar el browser
<script type="text/javascript">
    var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
    if(is_chrome){
    document.write('<link rel="stylesheet" href="/css/chrome.css" type="text/css" />');
    }
</script>
*/